---
page_title: "{{.ProviderShortName}} Provider"
subcategory: ""
description: |-
  {{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.ProviderShortName}} Provider

{{ .Description | trimspace }}

## Features

- **Source account management**: Connect and manage cloud accounts containing resources to be backed up.
- **Restore account management**: Connect and manage cloud accounts where backups can be restored to.
- **Snapshots**: Manage snapshots of resources in source accounts.
- **Restore operations**: Restore resources from snapshots to specified restore accounts.
- **Data sources**: Query existing source and restore accounts.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

## Authentication

The provider supports authentication using your Eon API client credentials.
You can configure authentication using the `EON_CLIENT_ID` and `EON_CLIENT_SECRET` environment variables, as shown in [Provider Configuration], below.

!> Never hard-code API credentials in your Terraform configuration.
To keep your API client and secret secure, use environment variables instead.

Generate your API credentials in your global settings in the Eon console.

[Provider Configuration]: #provider-configuration

## Provider Configuration

You can provide your Eon Provider configuration using either environment variables, the `provider` block of your Terraform configuration, or a combination of both.

Examples of both approaches are shown below.
For descriptions of the configuration options, see the [Schema](#schema) section.

### Environment Variables

As a secure practice, set the `EON_CLIENT_ID` and `EON_CLIENT_SECRET` API credentials as environment variables.
You can additionally set the `EON_ENDPOINT` and `EON_PROJECT_ID` environment variables, or you can set them in the `provider` block, shown in the next section.

If all the variables are set as environment variables, as shown here, there's no need to set them in the `provider` block in your Terraform configuration:

```terraform
provider "eon" {}
```

```bash
export EON_ENDPOINT="https://<your-domain>.console.eon.io"
export EON_CLIENT_ID="your-client-id"
export EON_CLIENT_SECRET="your-client-secret"
export EON_PROJECT_ID="your-project-id"
```

### Provider Configuration

Anything else you don't set as environment variables, you can set in the `provider` block.
If a value is set in both the environment variable and the `provider` block, the `provider` block takes precedence:

```terraform
provider "{{.ProviderShortName}}" {
  endpoint      = "https://<your-domain>.console.eon.io"
  client_id     = "your-client-id"
  client_secret = "your-client-secret"
  project_id    = "your-project-id"
}
```

{{ .SchemaMarkdown | trimspace }}
